version: '3.9'
services:
  mysql:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: gamestore
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    ports:
      - "3306:3306"
    volumes:
      - ./.srv/database:/var/lib/mysql
    
  wordpress:
    image: wordpress:latest
    restart: always
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: gamestore
    ports:
      - "8000:80"
    volumes:
      - ./.srv/wordpress:/var/www/html
      - ./themes/:/var/www/html/wp-content/themes/   #Указываем путь к папке с темами (теперь можно добавлять темы локально)
      - ./plugins/:/var/www/html/wp-content/plugins/ #Указываем путь к папке с плагинами (теперь можно добавлять плагины локально)
      - ./mu-plugins/:/var/www/html/wp-content/mu-plugins/ #Указываем путь к папке с must-use плагинами (теперь можно добавлять mu-плагины локально)
      - ./.srv/custom.ini:/usr/local/etc/php/conf.d/custom.ini #Подключаем кастомный php.ini   https://fullsiteediting.com/block-theme-generator/
    depends_on:
      - mysql
    links:
      - mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      MYSQL_USERNAME: wordpress
      MYSQL_ROOT_PASSWORD: wordpress
      PMA_HOST: mysql
    ports:
      - "8181:80"
    depends_on:
      - mysql
    links:
      - mysql